{{#each this}}
<li class="taskItem">
    <h3>{{taskName}}</h3>
    <p>{{difficultyLevel}}</p>
    <p>{{taskPerformer}}</p>
    <button type="button" data-btn='taskDeleteButton' id={{id}}>Delete TASK</button>
</li>
{{/each}}